.grid_wrapper{
    --justify-content: center;
    --item-min-width:150px;
    --item-max-width:0.5fr;

    display: flex;
    justify-content: var(--justify-content);
    
    .grid{
        display: grid;
        place-items: stretch;
        justify-content: var(--justify-content);
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(auto-fit, minmax(var(--item-min-width), var(--item-max-width)));
        direction: rtl;

        .item{
            display: flex;
        }
    }
}