.lol{
    height: 1200px;
}

/* #root{
    --long: 20px;
} */

.Hello{
    display: flex;
    text-align: right;
    direction: rtl;
    gap:10px;
}

.invalidInput{
    /* border: 1px solid red; */
    /* border-radius: 2px; */
    outline-color: red;
    border-color: red;
    border-width: 1px;
    border-radius: 2px;
    padding: 2px 2.8px 2px 2.8px;
    border-style: solid;
}

.regInput:focus{
    outline: 0;
}

.h1{
    font-size: var(--large-font);
}

.cl{
    color:red;
}
.y{
    color: yellow;
    &:hover{
        color: black;

    }
    &{@media screen and (max-width:600px){
        color:aqua
    }}
}